<div class="container">
  <div class="homeBoutons">
    <div class="row">
      <div class=" col text-center mt-5">
        <button routerLink="/games" class="bt1 btn btn-outline-primary">Jouer</button>
      </div>
    </div>
    <div class="row">
      <div class=" col text-center mt-5">
        <button routerLink="/decks" class="bt2 btn btn-outline-primary">Decks</button>
      </div>
    </div>
    <div class="row">
      <div class=" col text-center mt-5">
        <button routerLink="/rules" class="bt3 btn btn-outline-primary">Règles</button>
      </div>
    </div>
  </div>
</div>
