<div *ngIf="!game?.player_turn"
     class="page-waiting my-3">
  En attente d'un adversaire ...
</div>

<div *ngIf="game?.player_turn"
     class="page">
  <div class="board-aside">
    Tour de<br>
    {{ game.player_turn == game.owner.id ? game.owner.username :
    game.opponent.username }}
  </div>

  <div class="board">
    <ng-container>
      <div pDroppable="attack"
           (onDrop)="dropAttacker('user')"
           class="row"
           style="height: 10%;">
        <div class="col">
          <ng-container *ngIf="user.id === game.owner.id">
            Cimetière
            <div class="bs-card-sm"
                 style="background-image: url('/assets/img/card-back.png');">
              {{ game.opponent_graveyard_cards.length }}
            </div>
            <span>{{ game.opponent_health }} Vie</span>
            <span>{{ game.opponent.username }}</span>
            <span>{{ game.opponent_mana }} Mana</span>
            <div class="bs-card-sm"
                 style="background-image: url('/assets/img/card-back.png');">
              {{ game.opponent_deck_cards.length }}
            </div>
            Deck
          </ng-container>
          <ng-container *ngIf="user.id !== game.owner.id">
            Cimetière
            <div class="bs-card-sm"
                 style="background-image: url('/assets/img/card-back.png');">
              {{ game.owner_graveyard_cards.length }}
            </div>
            <span>{{ game.owner_health }} Vie</span>
            <span>{{ game.owner.username }}</span>
            <span>{{ game.owner_mana }} Mana</span>
            <div class="bs-card-sm"
                 style="background-image: url('/assets/img/card-back.png');">
              {{ game.owner_deck_cards.length }}
            </div>
            Deck
          </ng-container>
        </div>
      </div>

      <div class="row" style="height: 20%;">
        <ng-container *ngIf="user.id === game.owner.id">
          <div *ngFor="let card of game.opponent_hand_cards"
               class="col p-0">
            <div class="bs-card"
                 style="background-image: url('/assets/img/card-back.png');">
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="user.id !== game.owner.id">
          <div *ngFor="let card of game.owner_hand_cards"
               class="col p-0">
            <div class="bs-card"
                 style="background-image: url('/assets/img/card-back.png');">
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row" style="height: 20%;">
        <ng-container *ngIf="user.id === game.owner.id">
          <div *ngFor="let cardValue of game.opponent_board_card_values"
               pDroppable="attack"
               (onDrop)="dropAttacker(cardValue)"
               class="col p-0">
            <div (mouseenter)="hoverCardValueOpponent(cardValue)"
                 (mouseleave)="hoverCardValueOpponent(null)"
                 [ngStyle]="{'background-image': 'url(' + cardValue.card?.picture + ')'}"
                 class="bs-card">
              <span class="cost">{{ cardValue.card?.cost }}</span>
              <span class="strength">{{ cardValue.strength }}</span>
              <span class="health">{{ cardValue.health }}</span>
              <div class="name">
                {{ cardValue.card?.name }}
              </div>
              <div *ngIf="cardValue.card?.effect"
                   class="effect">
                <b>{{ cardValue.card.effect.name }} : </b><br>
                {{ cardValue.card.effect.description }}
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="user.id !== game.owner.id">
          <div *ngFor="let cardValue of game.owner_board_card_values"
               pDroppable="attack"
               (onDrop)="dropAttacker(cardValue)"
               class="col p-0">
            <div (mouseenter)="hoverCardValueOpponent(cardValue)"
                 (mouseleave)="hoverCardValueOpponent(null)"
                 [ngStyle]="{'background-image': 'url(' + cardValue.card?.picture + ')'}"
                 class="bs-card">
              <span class="cost">{{ cardValue.card?.cost }}</span>
              <span class="strength">{{ cardValue.strength }}</span>
              <span class="health">{{ cardValue.health }}</span>
              <div class="name">
                {{ cardValue.card?.name }}
              </div>
              <div *ngIf="cardValue.card?.effect"
                   class="effect">
                <b>{{ cardValue.card.effect.name }} : </b><br>
                {{ cardValue.card.effect.description }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row"
           pDroppable="play_card"
           (onDrop)="dropCardToPlay()"
           style="height: 20%;">
        <ng-container *ngIf="user.id === game.owner.id">
          <div *ngFor="let cardValue of game.owner_board_card_values"
               class="col p-0">
            <ng-container *ngIf="canAttack(cardValue)">
              <div pDraggable="attack"
                   (onDragStart)="dragAttacker(cardValue)"
                   (mouseenter)="hoverCardValueSelf(cardValue)"
                   (mouseleave)="hoverCardValueSelf(null)"
                   [ngStyle]="{'background-image': 'url(' + cardValue.card?.picture + ')'}"
                   class="bs-card">
                <span class="cost">{{ cardValue.card?.cost }}</span>
                <span class="strength">{{ cardValue.strength }}</span>
                <span class="health">{{ cardValue.health }}</span>
                <div class="name">
                  {{ cardValue.card?.name }}
                </div>
                <div *ngIf="cardValue.card?.effect"
                     class="effect">
                  <b>{{ cardValue.card.effect.name }} : </b><br>
                  {{ cardValue.card.effect.description }}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!canAttack(cardValue)">
              <div (mouseenter)="hoverCardValueSelf(cardValue)"
                   (mouseleave)="hoverCardValueSelf(null)"
                   [ngStyle]="{'background-image': 'url(' + cardValue.card?.picture + ')'}"
                   class="bs-card">
                <span class="cost">{{ cardValue.card?.cost }}</span>
                <span class="strength">{{ cardValue.strength }}</span>
                <span class="health">{{ cardValue.health }}</span>
                <div class="name">
                  {{ cardValue.card?.name }}
                </div>
                <div *ngIf="cardValue.card?.effect"
                     class="effect">
                  <b>{{ cardValue.card.effect.name }} : </b><br>
                  {{ cardValue.card.effect.description }}
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="user.id !== game.owner.id">
          <div *ngFor="let cardValue of game.opponent_board_card_values"
               class="col p-0">
            <ng-container *ngIf="cardValue.can_attack">
              <div pDraggable="attack"
                   (onDragStart)="dragAttacker(cardValue)"
                   (mouseenter)="hoverCardValueSelf(cardValue)"
                   (mouseleave)="hoverCardValueSelf(null)"
                   [ngStyle]="{'background-image': 'url(' + cardValue.card?.picture + ')'}"
                   class="bs-card">
                <span class="cost">{{ cardValue.card?.cost }}</span>
                <span class="strength">{{ cardValue.strength }}</span>
                <span class="health">{{ cardValue.health }}</span>
                <div class="name">
                  {{ cardValue.card?.name }}
                </div>
                <div *ngIf="cardValue.card?.effect"
                     class="effect">
                  <b>{{ cardValue.card.effect.name }} : </b><br>
                  {{ cardValue.card.effect.description }}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!cardValue.can_attack">
              <div (mouseenter)="hoverCardValueSelf(cardValue)"
                   (mouseleave)="hoverCardValueSelf(null)"
                   [ngStyle]="{'background-image': 'url(' + cardValue.card?.picture + ')'}"
                   class="bs-card">
                <span class="cost">{{ cardValue.card?.cost }}</span>
                <span class="strength">{{ cardValue.strength }}</span>
                <span class="health">{{ cardValue.health }}</span>
                <div class="name">
                  {{ cardValue.card?.name }}
                </div>
                <div *ngIf="cardValue.card?.effect"
                     class="effect">
                  <b>{{ cardValue.card.effect.name }} : </b><br>
                  {{ cardValue.card.effect.description }}
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="row" style="height: 20%;">
        <ng-container *ngIf="user.id === game.owner.id">
          <div *ngFor="let card of game.owner_hand_cards"
               class="col p-0">
            <ng-container *ngIf="canPlayCard(card)">
              <div pDraggable="play_card"
                   (onDragStart)="dragCardToPlay(card)"
                   (mouseenter)="hoverCardSelf(card)"
                   (mouseleave)="hoverCardSelf(null)"
                   [ngStyle]="{'background-image': 'url(' + card.picture + ')'}"
                   class="bs-card">
                <span class="cost">{{ card.cost }}</span>
                <span class="strength">{{ card.strength }}</span>
                <span class="health">{{ card.health }}</span>
                <div class="name">
                  {{ card.name }}
                </div>
                <div *ngIf="card.effect"
                     class="effect">
                  <b>{{ card.effect.name }} : </b><br>
                  {{ card.effect.description }}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!canPlayCard(card)">
              <div (mouseenter)="hoverCardSelf(card)"
                   (mouseleave)="hoverCardSelf(null)"
                   [ngStyle]="{'background-image': 'url(' + card.picture + ')'}"
                   class="bs-card">
                <span class="cost">{{ card.cost }}</span>
                <span class="strength">{{ card.strength }}</span>
                <span class="health">{{ card.health }}</span>
                <div class="name">
                  {{ card.name }}
                </div>
                <div *ngIf="card.effect"
                     class="effect">
                  <b>{{ card.effect?.name }} : </b><br>
                  {{ card.effect?.description }}
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="user.id !== game.owner.id">
          <div *ngFor="let card of game.opponent_hand_cards"
               class="col p-0">
            <ng-container *ngIf="canPlayCard(card)">
              <div pDraggable="play_card"
                   (onDragStart)="dragCardToPlay(card)"
                   (mouseenter)="hoverCardSelf(card)"
                   (mouseleave)="hoverCardSelf(null)"
                   [ngStyle]="{'background-image': 'url(' + card.picture + ')'}"
                   class="bs-card">
                <span class="cost">{{ card.cost }}</span>
                <span class="strength">{{ card.strength }}</span>
                <span class="health">{{ card.health }}</span>
                <div class="name">
                  {{ card.name }}
                </div>
                <div *ngIf="card.effect"
                     class="effect">
                  <b>{{ card.effect?.name }} : </b><br>
                  {{ card.effect?.description }}
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!canPlayCard(card)">
              <div (mouseenter)="hoverCardSelf(card)"
                   (mouseleave)="hoverCardSelf(null)"
                   [ngStyle]="{'background-image': 'url(' + card.picture + ')'}"
                   class="bs-card">
                <span class="cost">{{ card.cost }}</span>
                <span class="strength">{{ card.strength }}</span>
                <span class="health">{{ card.health }}</span>
                <div class="name">
                  {{ card.name }}
                </div>
                <div *ngIf="card.effect"
                     class="effect">
                  <b>{{ card.effect?.name }} : </b><br>
                  {{ card.effect?.description }}
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="row"
           style="height: 10%;">
        <div class="col">
          <ng-container *ngIf="user.id === game.owner.id">
            Cimetière
            <div class="bs-card-sm"
                 style="background-image: url('/assets/img/card-back.png');">
              {{ game.owner_graveyard_cards.length }}
            </div>
            <span>{{ game.owner_health }} Vie</span>
            <span>{{ game.owner.username }}</span>
            <span>{{ game.owner_mana }} Mana</span>
            <div class="bs-card-sm"
                 style="background-image: url('/assets/img/card-back.png');">
              {{ game.owner_deck_cards.length }}
            </div>
            Deck
          </ng-container>
          <ng-container *ngIf="user.id !== game.owner.id">
            Cimetière
            <div class="bs-card-sm"
                 style="background-image: url('/assets/img/card-back.png');">
              {{ game.opponent_graveyard_cards.length }}
            </div>
            <span>{{ game.opponent_health }} Vie</span>
            <span>{{ game.opponent.username }}</span>
            <span>{{ game.opponent_mana }} Mana</span>
            <div class="bs-card-sm"
                 style="background-image: url('/assets/img/card-back.png');">
              {{ game.opponent_deck_cards.length }}
            </div>
            Deck
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="board-aside">
    <button *ngIf="user.id === game.player_turn"
            (click)="endTurn()"
            type="button"
            class="btn btn-sm">
      Finir le tour
    </button>
  </div>
</div>

<div *ngIf="cardHoveredSelf"
     [ngStyle]="{'background-image': 'url(' + cardHoveredSelf.picture + ')'}"
     style="top: 15px;"
     class="bs-card-hover">
  <span class="cost">{{ cardHoveredSelf.cost }}</span>
  <span class="strength">{{ cardHoveredSelf.strength }}</span>
  <span class="health">{{ cardHoveredSelf.health }}</span>
  <div class="name">
    {{ cardHoveredSelf.name }}
  </div>
  <div *ngIf="cardHoveredSelf.effect"
       class="effect">
    <b>{{ cardHoveredSelf.effect.name }} : </b><br>
    {{ cardHoveredSelf.effect.description }}
  </div>
</div>

<div *ngIf="cardValueHoveredSelf"
     [ngStyle]="{'background-image': 'url(' + cardValueHoveredSelf.card?.picture + ')'}"
     style="top: 15px;"
     class="bs-card-hover">
  <span class="cost">{{ cardValueHoveredSelf.card?.cost }}</span>
  <span class="strength">{{ cardValueHoveredSelf.strength }}</span>
  <span class="health">{{ cardValueHoveredSelf.health }}</span>
  <div class="name">
    {{ cardValueHoveredSelf.card?.name }}
  </div>
  <div *ngIf="cardValueHoveredSelf.card?.effect"
       class="effect">
    <b>{{ cardValueHoveredSelf.card.effect.name }} : </b><br>
    {{ cardValueHoveredSelf.card.effect.description }}
  </div>
</div>

<div *ngIf="cardHoveredOpponent"
     [ngStyle]="{'background-image': 'url(' + cardHoveredOpponent.picture + ')'}"
     style="bottom: 15px;"
     class="bs-card-hover">
  <span class="cost">{{ cardHoveredOpponent.cost }}</span>
  <span class="strength">{{ cardHoveredOpponent.strength }}</span>
  <span class="health">{{ cardHoveredOpponent.health }}</span>
  <div class="name">
    {{ cardHoveredOpponent.name }}
  </div>
  <div *ngIf="cardHoveredOpponent.effect"
       class="effect">
    <b>{{ cardHoveredOpponent.effect.name }} : </b><br>
    {{ cardHoveredOpponent.effect.description }}
  </div>
</div>

<div *ngIf="cardValueHoveredOpponent"
     [ngStyle]="{'background-image': 'url(' + cardValueHoveredOpponent.card?.picture + ')'}"
     style="bottom: 15px;"
     class="bs-card-hover">
  <span class="cost">{{ cardValueHoveredOpponent.card?.cost }}</span>
  <span class="strength">{{ cardValueHoveredOpponent.strength }}</span>
  <span class="health">{{ cardValueHoveredOpponent.health }}</span>
  <div class="name">
    {{ cardValueHoveredOpponent.card?.name }}
  </div>
  <div *ngIf="cardValueHoveredOpponent.card?.effect"
       class="effect">
    <b>{{ cardValueHoveredOpponent.card.effect.name }} : </b><br>
    {{ cardValueHoveredOpponent.card.effect.description }}
  </div>
</div>

<div class="modal fade" id="modalWinner" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Partie finie</h5>
      </div>
      <div class="modal-body">
        Gagnant : {{ winner?.username }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Accueil
        </button>
      </div>
    </div>
  </div>
</div>
