<h2>
  {{ !deck.id ? 'Créer un deck' : deck.name }}
</h2>

<form (submit)="onSubmit()" class="mb-3">
  <div class="form-group">
    <label for="name">Nom</label>
    <input
      [(ngModel)]="deck.name"
      [disabled]="deck.id && userId !== deck.user?.id"
      type="text" id="name" name="name" class="form-control">
  </div>
  <button *ngIf="!deck.id || userId === deck.user?.id"
          class="btn btn-primary">
    Enregistrer
  </button>
</form>

<app-card-list
  [editable]="!deck.id || userId === deck.user?.id"
  [cards]="cards"
  [deck]="deck">
</app-card-list>
